<h1>Welcome to EventStore, the Event sharing and planning platform !</h1>
<h2>What is it ?</h2>
<p>EventStore is a simple platform and app to help you plan events.
    Let's say you want to plan a secret birthday party for a friend.
    At first, you have to choose a date, a place, share ideas with potential attendees, to reply to theses questions.
    There EventStore helps you. You can design cooperatively events through simple steps.
</p>
<p class="text-info">
    Propose, decide, tease, enjoy !
</p>
<h2>How to ?</h2>
